@media (max-width:900px) {

    div.sideContent{
        margin: 2% 1%;
        padding: 3% 2% 6% 2%;
        background-color: rgb(32, 32, 32);
        border-radius: 20px;
        border: solid 1px rgba(127, 127, 127, 0.5);
        box-shadow: 0 0 20px rgba(255, 255, 255,0.5),inset 0 0 10px rgba(0, 0, 0, 0.5);
    }
    
    #calender iframe{
        aspect-ratio: 1/1;
    }
    
    #centerContents div.centerContent{
        margin: 2% 1%;
        padding: 3% 2% 6% 2%;
        background-color: rgb(32, 32, 32);
        border-radius: 20px;
        border: solid 1px rgba(127, 127, 127, 0.5);
        box-shadow: 0 0 20px rgba(255, 255, 255,0.5),inset 0 0 10px rgba(0, 0, 0, 0.5);
    }
    
    #centerContents * .scrollArea{
        max-height: 500px;
        overflow-y: auto;
    }
    
    #updates, #activity, #calender, #address{
        scroll-margin-top: 8svh;
    }
    
    main a{
        color:rgb(213, 235, 255);
    }
}