/* src/Portfolio.css */
.portfolio-bg {
    /* 画面の高さ100%を保証する */
    min-height: 100vh;
    width: 100%;
    
    background-color: #000000; 
    background-image: url('/media/texture.jpg'); 
    background-repeat: repeat; 
    background-attachment: scroll;
    color: #ffffff;
}